<%- include('header') %>

<div class="slide-container">
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_home/slide_one.jpg">
        <div class="slide-title">Bienvenue dans notre havre de paix, <br> un véritable rêve éveillé où vous pourrez vous ressourcer <br> en solo, en duo ou entre amis.</div>
        <div class="slide-button"><a class="slide-button-link" href="/tarifs">Nos Tarifs</a></div>
        <div class="slide-text">10 Rue d'Avranche, 62670 Mazingarbe</div>
    </div>
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_home/slide_two.jpg">
        <div class="slide-title">Bienvenue dans notre havre de paix, <br> un véritable rêve éveillé où vous pourrez vous ressourcer <br> en solo, en duo ou entre amis.</div>
        <div class="slide-button"><a class="slide-button-link" href="/tarifs">Nos Tarifs</a></div>
        <div class="slide-text">10 Rue d'Avranche, 62670 Mazingarbe</div>
    </div>
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_home/slide_three.jpg">
        <div class="slide-title">Bienvenue dans notre havre de paix, <br> un véritable rêve éveillé où vous pourrez vous ressourcer <br> en solo, en duo ou entre amis.</div>
        <div class="slide-button"><a class="slide-button-link" href="/tarifs">Nos Tarifs</a></div>
        <div class="slide-text">10 Rue d'Avranche, 62670 Mazingarbe</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<section id="presentation">
    <div class="container">    
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="/image/supplement/<%=supplement[randomNumber].image%>" alt="<%=supplement[randomNumber].nom%>">
            </div>
            <div class="col-sm-6 wow fadeInRight text-one">
                <h3 class="column-title">Plongez dans un <b>monde de rêves</b> et laissez-vous emporter par <b>vos désirs les plus fous</b>.</h3>
                <p>Notre établissement, situé en plein cœur de la magnifique ville de <b>Mazingarbe</b>, vous invite à vivre une expérience de détente unique, disponible <b>l'après-midi</b> et en formule <b>nuitée</b>.</p>
                <p>Chez <b>Levray Rêve</b>, nous attachons une grande importance à <b>l'accueil personnalisé</b> et au <b>service sur mesure</b>. Nous sommes à votre écoute pour répondre à toutes vos demandes et réaliser tous vos souhaits. <b>Vous êtes chez nous comme chez vous !</b></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft text-two">
                <p>Venez vous détendre dans notre havre de paix et profitez de notre luxueux équipement, incluant un <b>jacuzzi 4/6 places</b>, une <b>double douche</b>, un <b>lit King size</b> et un <b>fauteuil massant</b>. Le tout avec une vue imprenable sur notre <b>ciel étoilé</b> et notre <b>mur à bulles</b>, pour une expérience de relaxation incomparable.</p>
                <p>Alors, laissez-vous tenter par cette expérience unique et <b><a href="/tarifs">réservez dès maintenant</a></b> votre séjour chez nous. Nous sommes impatients de vous accueillir et de vous offrir un <b>moment inoubliable</b> de détente et de bien-être.</p>
            </div>
            <div class="col-sm-6 wow fadeInRight">
                <img class="img-responsive" src="/image/supplement/<%=supplement[otherRandomNumber].image%>" alt="<%=supplement[otherRandomNumber].nom%>">
            </div>
        </div>
    </div>
</section>

<!--<section id="avis">
    <div class="container">
        <div class="header">
            <h2 class="title wow fadeInDown">Nos Avis</h2>
        </div>
        <div class="row">
            <div class="avis-container">
                 <% for (let i = 0; i < reviews.length; i++) { %>

                 <% } %>
            </div>
        </div>
    </div>
</section>-->

<section id="supplement">
    <div class="header">
            <h2 class="title wow fadeInDown">Nos suppléments</h2>
        </div>
    <div class="container">
        <% for (i = 0; i < supplement.length; i++) { %>
            <% if (i%2) { %>
                <div class="version-one">
                    <h4><%= supplement[i].nom %></h4>
                    <p><%= supplement[i].description %></p>
                    <h5><%= supplement[i].prix %>€</h5>
                </div>
            <% } else {%>
                <div class="version-two">
                    <h4><%= supplement[i].nom %></h4>
                    <p><%= supplement[i].description %></p>
                    <h5><%= supplement[i].prix %>€</h5>
                </div>
            <% } %>
        <% } %>
    </div>
</section>

<section id="contact">
    <div class="flex">
        <img src="image/icons/addressIcon.png">
        <h4>Adresse</h4>
        <p>10 Rue d'Avranches, 62670 Mazingarbe</p>
    </div>
    <div class="flex">
        <img src="image/icons/emailIcon.png">
        <h4>Email</h4>
        <p>levrayreve@gmail.com</p>
    </div>
    <div class="flex">
        <img src="image/icons/telephoneIcon.png">
        <h4>Téléphone</h4>
        <p>06 63 47 09 04</p>
    </div>
</section>

<%- include('footer') %>