<%- include('header') %>

<div class="slide-container">
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_levrayreve/slide_spa.jpg">
        <div class="slide-title">Plongez dans l'élégance du bien-être absolu ! <br> Découvrez notre somptueux spa de luxe : Jacuzzi haut de gamme, ciel étoilé enchanteur et fauteuil massant, <br> une expérience céleste qui éveillera vos sens et vous transportera vers une détente inégalée.</div>
        <div class="slide-button"><a class="slide-button-link" href="/spadereve#formule_spa">Réserver</a></div>
        <div class="slide-text">10 Rue d'Avranche, 62670 Mazingarbe</div>
    </div>
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_levrayreve/slide_bulle.jpg">
        <div class="slide-title">Osez l'insolite pour une nuit inoubliable ! <br> Découvrez notre espace détente unique, où spa en plein air, salon de jardin et chambre sous bulle vous offrent <br> une expérience magique, dormez à la belle étoile et reconnectez-vous avec la nature.</div>
        <div class="slide-button"><a class="slide-button-link" href="/bulledereve#formule_bulle">Réserver</a></div>
        <div class="slide-text">10 Rue d'Avranche, 62670 Mazingarbe</div>
    </div>
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_levrayreve/slide_massage.jpg">
        <div class="slide-title">Découvrez l'ultime perfection de la détente ! <br> Offrez-vous nos massages complets du dos, des jambes et des pieds <br>  pour une expérience de bien-être inégalée chez Levray Rêve.</div>
        <div class="slide-button"><a class="slide-button-link" href="/massagedereve">Réserver</a></div>
        <div class="slide-text">10 Rue d'Avranche, 62670 Mazingarbe</div>
    </div>
</div>

<section id="presentation">
    <div class="container">    
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="/image/levrayreve/presentation.jpg" alt="chèque cadeau">
            </div>
            <div class="col-sm-6 wow fadeInRight text-one">
                <h3 class="column-title">Plongez dans un <b>monde de rêves</b> et laissez-vous emporter par <b>vos désirs</b> les plus fous chez Levray Rêve ! </h3>
                <p>Dans un établissement enchanteur niché en plein cœur de la magnifique ville de <b>Mazingarbe</b>, profitez de nos installations luxueuses et de nos prestations exceptionnelles. Plongez dans un <b>spa envoûtant</b>, offrez-vous des <b>massages bien-être</b> ou évadez-vous grâce à notre <b>bulle de rêve</b>.</p>
                <p>Chez nous, vous êtes plus qu'un simple client, vous êtes notre <b>invité d'honneur</b>. Votre satisfaction est notre priorité absolue, et nous sommes à votre écoute pour répondre à toutes vos demandes et réaliser tous vos souhaits.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft text-two">
                <h3 class="column-title">Plongez dans l'élégance du bien-être absolu !</h3>
                <p>Bienvenue dans notre <b>Spa de luxe</b>, un sanctuaire dédié au bien-être et au luxe absolu.</p>
                <p>Immergez-vous dans notre <b>jacuzzi haut de gamme</b>, où les eaux chaudes caressent délicatement votre corps, vous offrant une sensation de relaxation et de réconfort.</p>
                <p>Puis, laissez-vous envoûter par notre <b>ciel étoilé enchanteur</b> qui vous transporte dans un voyage magique parmi les étoiles, un moment de sérénité et d'évasion totale.</p>
                <p>Pour finir, détendez-vous dans notre <b>fauteuil massant haut de gamme</b>, conçu pour apaiser vos muscles et libérer toutes vos tensions. Chaque mouvement du fauteuil est une caresse bienfaisante, vous enveloppant dans une étreinte apaisante.</p>
                <p>Que ce soit pour une escapade en solitaire, une soirée romantique en couple ou une sortie entre amis, notre Spa privatif est l'endroit idéal pour vous détendre, vous ressourcer et vous offrir une parenthèse de bien-être absolu.</p>
                <p><a href="/spadereve">Réservez dès maintenant</a> votre expérience de luxe et plongez dans un monde de relaxation et de raffinement, où jacuzzi haut de gamme, ciel étoilé enchanteur et fauteuil massant fusionnent pour créer une expérience céleste qui éveillera vos sens et ravira votre esprit. </p>
            </div>
            <div class="col-sm-6 wow fadeInRight">
                <img class="img-responsive" src="/image/levrayreve/spadereve.jpg" alt="Lit du spa">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="/image/levrayreve/bulledereve.jpg" alt="chèque cadeau">
            </div>
            <div class="col-sm-6 wow fadeInRight text-one">
                <h3 class="column-title">Osez l'insolite pour une nuit inoubliable !</h3>
                <p>Bienvenue dans notre retraite de charme, où <b>une nuit insolite</b> vous attend, loin du quotidien, pour une escapade qui restera gravée dans vos souvenirs.</p>
                <p>Commencez votre soirée en vous délassant dans notre <b>spa en plein air</b>, entouré de paysages enchanteurs.</p>
                <p>Ensuite, prenez place dans notre <b>salon de jardin</b>, un havre de paix où vous pourrez vous détendre et vous ressourcer au milieu de la nature.</p>
                <p>Mais le clou de cette expérience unique est notre <b>chambre sous bulle</b>. Immergez-vous dans un cocon intime, où vous pourrez dormir à la belle étoile, en toute sérénité et en toute intimité. L'immensité du ciel étoilé sera votre toit, offrant une vue à couper le souffle, pour une nuit magique et romantique.</p>
                <p>Et pour votre confort, un petit cabanon discret est à votre disposition, avec une toilette sèche et une douche, préservant ainsi l'harmonie avec la nature environnante.</p>
                <p><a href="/bulledereve">Réservez dès maintenant</a> pour vivre une nuit magique, où spa en plein air, salon de jardin et chambre sous bulle s'unissent pour créer des souvenirs impérissables. Laissez-vous tenter par cette escapade insolite et embarquez dans une aventure hors du commun.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft text-two">
            <h3 class="column-title">Découvrez l'ultime perfection de la détente !</h3>
            <p>Bienvenue dans l'apaisant royaume de Levray Rêve, où votre bien-être est notre priorité absolue. Nos <b>massages complets</b> ont été conçus pour vous procurer une relaxation totale, de la tête aux pieds.</p>
            <p>Commencez votre voyage de détente par notre <b>massage du dos</b>, un traitement enveloppant qui dénoue les tensions et apaise les muscles endoloris.</p>
            <p>Poursuivez cette escapade de bien-être avec notre <b>massage des jambes</b>, un soin délicat qui ravive la vitalité de vos membres inférieurs.</p>
            <p>Enfin, terminez cette expérience exquise avec notre <b>massage des pieds</b>, un moment de bonheur pour vos extrémités. </p>
            <p><a href="/massagedereve">Réservez dès maintenant</a>  votre séance de massage complet et plongez dans une expérience de relaxation qui vous transportera dans un état de bien-être profond.</p>
        </div>
        <div class="col-sm-6 wow fadeInRight">
            <img class="img-responsive" src="/image/levrayreve/massagedereve.jpg" alt="Lit du spa">
        </div>
    </div>
</section>

<section id="supplement">
    <div class="header">
            <h2 class="title wow fadeInDown">Nos suppléments</h2>
        </div>
    <div class="container">
        <% for (i = 0; i < supplement.length; i++) { %>
            <% if (i%2) { %>
                <div class="version-one">
                    <h4><%= supplement[i].nom %></h4>
                    <p><%= supplement[i].description %></p>
                    <h5><%= supplement[i].prix %>€</h5>
                </div>
            <% } else {%>
                <div class="version-two">
                    <h4><%= supplement[i].nom %></h4>
                    <p><%= supplement[i].description %></p>
                    <h5><%= supplement[i].prix %>€</h5>
                </div>
            <% } %>
        <% } %>
    </div>
</section>

<section id="contact">
    <div class="flex">
        <img src="image/icons/addressIcon.png">
        <h4>Adresse</h4>
        <p>10 Rue d'Avranches, 62670 Mazingarbe</p>
    </div>
    <div class="flex">
        <img src="image/icons/emailIcon.png">
        <h4>Email</h4>
        <p>levrayreve@gmail.com</p>
    </div>
    <div class="flex">
        <img src="image/icons/telephoneIcon.png">
        <h4>Téléphone</h4>
        <p>06 63 47 09 04</p>
    </div>
</section>

<%- include('footer') %>