
<%- include('header') %>
  <link rel="stylesheet" href="/css/styles-recapitulatif.css">
</head>
<body>

  <main>
    <section class="container">
      <h1>Récapitulatif de la réservation</h1>
      <h2>Formule choisie : <%= panier[0].nom %> (<%= panier[0].prix %> €)</h2>
      <% if (panier.length > 1) { %>
      <h2>Suppléments choisis :</h2>
      <ul>
        <% for (var i = 1; i < panier.length; i++) { %>
        <li><%= panier[i].nom %> (<%= panier[i].prix %> €)</li>
        <% } %>
      </ul>
      <% } %>
      <h2>Total : <%= total %> €</h2>
      <!-- Début de widget de lien Calendly -->
      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
      <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
      <a class="calendly-link" href="" onclick="Calendly.initPopupWidget({url: '<%=panier[0].calendly%>' });return false;">Choisir sa réservation</a>
      <!-- Fin de widget de lien Calendly -->
    </section>
  </main>


<%- include('footer') %>
